<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

  <!--Default page setup-->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="ManageUser.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

  <!--DB connection information-->
  <connectionStrings>
    <add name="MySqlFullConnectionString" connectionString="server=127.0.0.1; User ID=root; Password=root; database=cruddb;" providerName="Mysql.Data.MySqlClient"></add>
    
    <!--This is added to add flexibiliy for adding databases such as MySql, Oracle, SqlSever-->
    <!-- for MySql -->
    <add name="MySqlHost" connectionString="server=127.0.0.1;"></add>
    <add name="MySqlUsername" connectionString="User ID=root;"></add>
    <add name="MySqlPassword" connectionString="Password=root;"></add>
    <add name="MySqlDatabaseName" connectionString="database=cruddb;"></add>
    <add name="MySqlProviderName" providerName="Mysql.Data.MySqlClient"></add>
    
    <!-- for SqlServer-->
    <!-- add sqlserver config here-->
    
    <!-- for Oracle-->
    <!-- add Oracle config here-->
    
  </connectionStrings>

</configuration>